<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type">
    <meta charset="utf-8">
    <link rel = "icon" type = "image/png" href = "http://espace-raspberry-francais.fr/ImgStat/Icon.png" />
    <title>Graph du : {{ d }}</title>
    <link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>

    <h1>{{ titre }}</h1><br>
    <br>
    <a style="margin: auto; margin-right: 5%;" href="/">Home</a>
    <div class="" id="curve_chart"></div>
    <div class="centerGRAPH">
        <canvas id="myChart"></canvas>
    </div>
    {#<table width=100%>
        <tr>
            <th align=left><a href='/gT/{{rep}}/{{ prevDate }}'><img class="fleches" src='/static/prevDay.png'></a></th>
            <th align=right><a href='/gT/{{rep}}/{{ nextDate }}'><img class="fleches" src='/static/nextDay.png'></a></th>
        </tr>
    </table>#}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    let ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx,{
        type : 'line',


        data: {
            labels:{{time|tojson}},//
            
            datasets : [{
                label:'{{rep}}',
                borderColor:'{{color}}',
                data:{{value}}// {##}
            }]
        },

        options :{}
    })
</script>
</body>
</html>
